@media all and (min-width: 1921px) {
    body {
        max-width: 1800px;
        margin: auto;
    }
}

@media all and (max-width: 1907px){
    #alllodging {
        width: 65%;
    }
}

@media all and (max-width: 1679px){
    #alllodging {
        width: 100%;
    }
    #popularlodging{
        width: 100%;
    }
    #popularlodginglist {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .popularlodgingcard {
        width: 30%;
        margin: 0px;
        padding: 0px;
    }


    .popularlodgingfigure {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .popularlodgingcaption {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: auto;
        justify-content: space-between;
        padding-right: 5px;
    }
    .popularlodgingpicture {
        border-top-left-radius: 13px;
        border-top-right-radius: 0px; 
        border-bottom-left-radius:13px;  
        height: 200px; 
        width: 200px;
        min-height: 200px;
        object-fit: cover;
        margin-bottom: 0px;
    }


}


@media all and (max-width: 1300px){
    .popularlodgingfigure {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .popularlodgingcaption {
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        justify-content: space-between;
        padding-top: 0px;
    }
    .popularlodgingpicture {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px; 
        border-bottom-left-radius: 0px;  
        margin: 0px; 
        height: 200px; 
        width: 100%;
        min-height: 200px;
        object-fit: cover;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 920px){

    #filtersection {
        flex-direction: column;
    }
    #filters {        
        padding-top: 0px;
    }
    
    #alllodging {
        width: 100%;
    }

    .footercolumn {
        padding-right: 7px;
    }

    .popularlodgingcard {
        width: 100%;
        display: flex; 
        flex-direction: row;
        margin: 10px;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 10px;
        padding: 0px;
        background-color: white;
        border-radius: 20px;
    }
    .popularlodgingpicture {
        max-height: 220px; 
    }

    .lodgingcard {
        width:100%;
        display: flex; 
        flex-direction: row;
        margin: 10px;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 10px;
        padding: 2px;
        background-color: white;
        border-radius: 20px;
    }
    .lodgingpicture {
        max-height: 220px; 
    }

    .activitycard {
        width:100%;
        display: flex; 
        flex-direction: column;
        margin: 10px;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 10px;
        padding: 2px;
        background-color: white;
        border-radius: 20px;
    }
    .verticalflex{
        width:100%;
        display: flex; 
        flex-direction: column;
        margin: 10px;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 10px;
        padding: 2px;
        background-color: white;
        border-radius: 20px;
    }
    .activitypicturetall {
        max-height: 220px; 
    }
    .activitypicturemedium {
        max-height: 220px; 
    }
    .activitypicturesmall {
        max-height: 220px; 
    }

}

@media all and (max-width: 600px){
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 25px;
    }
    footer {
        flex-direction: column;
    }
    #logo {
        padding-left: 0px;
        padding-top: 20px;
    }
    #navigation {
        width: 150%;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
        margin-left: -40px;
        margin-right: -40px;
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 0px;
        order: 3;
    }
    .inscription {
        padding-top: 37px;
        width: 50%;
        order: 2;
    }
    #logobox {
        width: 50%;
        order: 1;
    }
    a.navigationlink {
        padding: 0px;
        text-align: center;
        padding-bottom: 40px;
        border-bottom: 2px solid#F2F2F2;
        width: 50%;
    }
    a.navigationlink:focus {
        padding: 0px;
        border-top: none;
        padding-bottom: 40px;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;    
    }
    a.navigationlink:hover {
        padding: 0px;
        border-top: none;
        padding-bottom: 40px;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;    
    }
    #alllodging {
        padding: 0px;
        background-color: white;
        border-radius: 0px;
    }
    .footercolumn {
        padding-bottom: 0px;
    }
}

@media all and (max-width: 480px){
    body {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #searchbuttonbox {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 27px;
        text-align: center;
        padding-top: 12px;
    }

    #activities {
        justify-content: flex-start;
    }
    #lodging {
        justify-content: flex-start;
    }
    #activitiestitle {
        text-align: left;
        padding-bottom: 0px;
    }

    #navigation {
        margin-left: -10px;
        margin-right: 0px;
    }
    #topbar {
        flex-direction: column-reverse;
    } 

    .lodgingcard {    
        box-shadow: 0px 0px 10px #F2F2F2;
    }

    #alllodging {
        width: 100%;
    }

    .lodgingcard {
        margin-left: 2px;
    }
    .verticalflex2 {
        margin-right: 0px;
    }

    #popularlodging {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-right: -20px;
        margin-left: -10px;
        border-radius: 0px;
    }

    .popularlodgingfigure {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 150px;
    }
    .popularlodgingpicture {
        margin: 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        height: 92%; 
        min-width: 0px;
        min-height: 0px;
        width: 70%;
        object-fit: cover;
    }
    .popularlodgingcaption {
        display: grid;
        grid-template-rows: 1fr 1fr 2fr 1fr;
        height: 90%;
        align-self: end;
        padding-right: 5px;
    }
    span.searchicon {display:inline-block}
    span.searchtext {display:none}

    .lodgingpicture, .activitypicturetall, .activitypicturemedium, .activitypicturesmall {
        max-height: 140px; 
    }

    #searchbar {
        width: 90%;
    }

    #activitiestitle {
        padding-bottom: 20px;
    }

    footer {
        width: 100%;
        margin-top: 30px;
        margin: -30px;
        padding-right: 40px;
    }

    .footercolumn {
        padding-top: 40px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
}