
@media all and (max-width: 920px){
    /* #lodging {
        display: grid;
        margin-top: 30px;
        grid-gap: 30px;
        grid-template: "a";
    } */
    #filtersection {
        display: flex;
        flex-direction: column;
    }
    #filters {
        padding-top: 0px;
    }
    
    
}

@media all and (max-width: 480px){
    body {
        padding-left: 0px;
        padding-right: 0px;
        margin: 5px;
    }
    header {
    }
    #topbar {
        flex-direction: column-reverse;
    }  
    a.navigationlink {
        padding-top: 0px;
        color:black;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    a.navigationlink:hover {
        padding-top: 0px;
        border-top: none;
        border-bottom: 1px solid #0065FC;
        color: #0065;    
    }

    #textinfo {
        width: 350px;
    }


/*=================== lodging ===================*/

    #alllodging {
        display: flex; 
        flex-direction: column;
        padding: 30px;
        background-color: #F2F2F2;
        border-radius: 0px;
        font-size: 0px;
    }

    .lodgingpicture {
        height: 120px;
        width: 350px;
        object-fit: cover;
    }

    #popularlodging {
        margin-right: -5px;
        margin-left: -5px;
        padding: 30px;
        background-color: #F2F2F2;
        border-radius: 0px;
        font-size: 15px;
    }

    #activities {
        padding-top: 10px;
        padding-left: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #activitiestitle {
        flex-basis: 425px;
        padding-bottom: 20px;
    }

    .activitypicturetall {
        height: 200px;
        width: 420px;
    }
    
    .activitypicturemedium {
        height: 200px;
        width: 420px;
    }
    
    .activitypicturesmall {
        height: 200px;
        width: 420px;
    }
    

    footer {
        margin-top: 30px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        margin: -5px;
        padding-bottom: 30px
    }


.footercolumn {
    padding-top: 40px;
    padding-bottom: 0px;
    padding-right: 0px;
}

}

