#topnav {
    font-family: "RailwayLight";
    display: grid;
    grid-template-columns: 1fr 6fr repeat(3, 1fr);
    padding-top: 40px;
}

.navbutton {
    text-align: center;
}

.inscription {
    font-weight: bold;
}

a.inscription {
    color: #0065FC;
    text-decoration: none;
}

a.nav {
    padding-top: 39px;
    color:black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

a.nav:hover {
    border-top: 1px solid #0065FC;
    color: #0065FC;
}