#info {
    display: flex; 
    flex-direction: row;
    padding-top: 30px;
    flex-wrap: wrap;
}

#infosvg {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    padding: 10px;
    border: solid 1px #F2F2F2;
    display:flex;
    align-items: center;
}

.textinfo {
    font-family: "RailwayLight";
    padding: 7px;
}

#informationsvg {
    width: 10px;
    height: 10px;
}