@font-face {
    font-family: "RailwayLight";
    src: url("utilities/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
    font-family: "RailwayMedium";
    src: url("utilities/fonts/Raleway-Medium.ttf") format("truetype");
}

body {
    margin: 0px;
    margin-left: 40px;
    padding-right: 40px;
}

@media all and (max-width: 480px){
    body {
        padding-left: 5px;
        padding-right: 5px;
    }
}

h1 { 
    font-family: "RailwayMedium";
    font-size: 20px;
    margin-bottom: 0px
}

h2 {
    font-family: "RailwayLight";
    font-size: 15px;
}

h3 {
    margin: 0px;
}

p {
    font-family: "RailwayLight";
}

ul {
    margin: 0px;
    padding: 0px;
}

figure {
    margin: 0px;
}

.textbold {
    font-family: "RailwayMedium";
    font-weight: bold;
}

.text {
    font-family: "RailwayLight";
}


/*================== topnav ==================*/

header {
    font-family: "RailwayLight";
    display: grid;
    grid-template-columns: 1fr 20fr 2fr;
}

#logo {
    padding-top: 40px;
}

#topbar {
    /* width: 100%;
    display: grid;
    grid-template-rows: 2fr, 5fr;
    text-align: center; */
    display: flex;
    flex-direction: row;
}

#navigation {
    margin-top: -40px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.inscription {
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

a.inscription {
    color: #0065FC;
    text-decoration: none;
}

a.navigationlink {
    padding-top: 40px;
    color:black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

a.navigationlink:hover {
    padding-top: 39px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

@media all and (max-width: 480px)
{
    #topbar {
        display: flex;
        flex-direction: column-reverse ; 
        text-align: center;
    }    
    a.navigationlink {
        padding-top: 0px;
        color:black;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    a.navigationlink:hover {
        padding-top: 0px;
        border-top: none;
        border-bottom: 1px solid #0065FC;
        color: #0065;    
    }

}



/*================= searchbar =================*/

#searchbar {
    display: flex; 
    flex-direction: row;
    width: 400px;
}

#mapmarkerbox  {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 20px;
    padding: 12px; 
    padding-top: 15px;
    background-color: #F2F2F2;
    text-align: center;
    border: solid 1px #F2F2F2;
    border-right: none;
}

#mapmarkerbox:hover {
    cursor: pointer;
}

#searchtextbox {
    width: 220px; 
    padding: 10px;
    border: solid 1px #F2F2F2;
    border-right: none;
    border-left:none;
}

#searchbuttonbox {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    padding: 10px;
    border: solid 1px #F2F2F2;
    border-left: none;
}

#searchbuttonbox:hover {
    cursor: pointer;
}

#icon {
    width: 10px; 
    height: auto;
}

textarea {
    padding-top: 2px;
    padding-left: 10px;
    width: 200px;
    height: 20px;
    resize: none;
    border: none;
    font-family: "RailwayMedium";
    outline: none;
}

#searchbutton {
    padding-top: 2px;
}

a.searchbutton {
    font-family: "RailwayMedium";
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/*================== filters ==================*/

.filterstitle {
    padding: 20px;
    padding-top: 43px;
    padding-left: 0px;
}

#filtersection {
    display: flex;
    flex-direction: row;
}

#filters {
    display: flex; 
    flex-direction: row;
    padding-top: 30px;
    flex-wrap: wrap;
}

.filtertypes {
    display: flex; 
    flex-direction: row;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 18px
}

.filtertypes:hover{
    color:#0065FC;
    cursor: pointer;
}

.utilitarybox {
    border: solid 2px #F2F2F2;
    border-right: none;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}

.svgbox  {
    border-radius: 55px;
    width: 15px;
    height: 15px;
    padding: 15px;
    background-color: #DEEBFF;
    margin: -2px;
    display:flex;
    align-items: center;
    color: #0065FC;
}

.filtertext {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px #F2F2F2;
    border-left: none; 
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}


/*=================== info ===================*/

#info {
    display: flex; 
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
}

#infosvg {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    padding: 10px;
    border: solid 1px #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#textinfo {
    margin: 7px;
}

#informationsvg {
    width: 10px;
    height: 10px;
}

/*================== lodging =================*/

#lodging {
    display: grid;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-gap: 40px;
    grid-template-columns: 4fr 3fr;
}

@media all and (max-width: 920px){
    #lodging {
        display: grid;
        margin-top: 30px;
        grid-gap: 30px;
        grid-template: "a";
    }
}

#alllodging {
    display: flex; 
    flex-direction: column;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    font-size: 15px;
}

@media all and (max-width: 920px){
    #alllodging {
        
    }
}

#lodginglocation {
    padding-bottom: 15px;
    padding-left: 10px;
}

.showmore {
    padding-left: 10px;
}

a.showmore {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
a.showmore:hover {
    color: #0065FC;
}

#lodginglist {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lodgingcard {
    display: flex; 
    flex-direction: column;
    margin: 10px;
    margin-bottom: 10px;
    padding: 2px;
    background-color: white;
    border-radius: 7%;
}

.lodgingpicture {
    margin: 5px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
    width: 280px;
    object-fit: cover;
}

.lodgingtitle {
    margin-bottom: 2px;
    margin-left: 15px;
}

.lodgingtext   {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 15px;
    font-size: 13px;
}

.stars {
    display: flex; 
    flex-direction: row;
    height: 14px;
    width: auto;
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.bluestar {
    color: #0065FC;
}

.greystar {
    color: #F2F2F2;
}

#popularlodging {
    display: flex; 
    flex-direction: column;
    margin-right: 0px;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    font-size: 15px;
}

#popularlodgingtitlebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#popularlodgingtitle {
    margin-bottom: 10px;
}

#popicon {
    font-size:18px;
    margin-top: 18px;
    margin-right: 15px;
}

#popularlodginglist {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}

.popularlodgingcard {
    display: flex; 
    flex-direction: row;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 2px;
    background-color: white;
    border-radius: 20px;
}

.popularlodgingfigure {
    display: flex;
    align-items: center;
}

.popularlodgingpicture {
    margin: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.popularlodgingcaption {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    height: 160px;
    align-self: end
}

/*================== activities =================*/

#activities {
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.activite {

}

.activitycard {
    display: flex; 
    flex-direction: column;
    margin: 10px;
    margin-left: 0px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #F2F2F2;
}

.activitytitle {
    padding: 10px;
}

.activitypicturetall {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 600px;
    width: 420px;
    object-fit: cover;
}

.activitypicturemedium {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 320px;
    width: 420px;
    object-fit: cover;
}

.activitypicturesmall {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 210px;
    width: 420px;
    object-fit: cover;
}

.verticalflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


/*================== footer =================*/

footer {
    margin-top: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
}

.footercolumn {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 350px;

}

div.footercolumn a:link {
    color: black;
    text-decoration: none;
}
div.footercolumn a:hover {
    color:   grey;
}