

@font-face {
    font-family: "RailwayLight";
    src: url("utilities/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
    font-family: "RailwayMedium";
    src: url("utilities/fonts/Raleway-Medium.ttf") format("truetype");
}

.topnav {
    font-family: "RailwayLight";
}

a {
    color: #0065FC
}

a:hover {
    color: #DEEBFF
}

h1 { 
    font-family: "RailwayMedium" 
}

h2 {
    font-family: "RailwayLight"
}

