@media all and (max-width: 1907px){
    #alllodging {
        width: 770px;
    }
    #activities {
        justify-content: flex-start;
    }
}

@media all and (max-width: 920px){
    /* #lodging {
        display: grid;
        margin-top: 30px;
        grid-gap: 30px;
        grid-template: "a";
    } */
    #filtersection {
        display: flex;
        flex-direction: column;
    }
    #filters {
        padding-top: 0px;
    }
    
    #alllodging {
        width: 387px;
    }
}

@media all and (max-width: 600px){
    footer {
        flex-direction: column;
        padding-left: 15px;    }

}

@media all and (max-width: 480px){
    body {
        padding-left: 0px;
        padding-right: 0px;
        margin: 5px;
    }
    #topbar {
        flex-direction: column-reverse;
    }  
    a.navigationlink {
        padding-top: 0px;
        color:black;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    a.navigationlink:hover {
        padding-top: 0px;
        border-top: none;
        border-bottom: 1px solid #0065FC;
        color: #0065;    
    }


    #alllodging {
        display: flex; 
        flex-direction: column;
        padding: 20px;
        background-color: white;
        border-radius: 0px;
    }

    .lodgingpicture {
        height: 120px;
        width: 350px;
        object-fit: cover;
    }
    
    .lodgingcard {    
        box-shadow: 0px 0px 10px #F2F2F2;
    }

    #popularlodging {
        margin-right: -5px;
        margin-left: -5px;
        padding: 30px;
        background-color: #F2F2F2;
        border-radius: 0px;
        font-size: 15px;
    }

    #activities {
        padding-top: 10px;
        padding-left: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #activitiestitle {
        flex-basis: 425px;
        padding-bottom: 20px;
    }

    .activitypicturetall {
        height: 200px;
        width: 420px;
    }
    
    .activitypicturemedium {

        width: 420px;
        height: 200px;
    }
    
    .activitypicturesmall {
        height: 200px;
        width: 420px;
    }
    

    footer {
        margin-top: 30px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        margin: -5px;
        padding-bottom: 30px
    }

    .footercolumn {
        padding-top: 40px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
}

@media all and (max-width: 320px){

    .popularlodgingpicture {
        height: 100px;
        width: 100px;
    }

    h3 {
        font-size: 14px;
    }   

    .lodgingtext {
        font-size: 12px;
    }

    #alllodging {
        padding: 0px;
    }

    .lodgingcard {
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
        border-radius: 7%;
    }
    
    #popularlodging {
        margin: -5px;
        padding: 5px;
    }    

    .lodgingpicture {
        height: 120px;
        width: 300px;
        object-fit: cover;
    }

    .activitypicturetall {
        height: 150px;
        width: 300px;
    }
    
    .activitypicturemedium {
        height: 150px;
        width: 300px;
    }
    
    .activitypicturesmall {
        height: 150px;
        width: 300px;
    }

    .activitycard {
        margin: 0px;
    }

    #searchbar {
        width: 300px;
    }

    #mapmarkerbox  {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 20px;
        padding: 12px; 
        padding-top: 15px;
        background-color: #F2F2F2;
        text-align: center;
        border: solid 1px #F2F2F2;
        border-right: none;
    }

    #searchtextbox {
        width: 143px; 
        padding: 10px;
        border: solid 1px #F2F2F2;
        border-right: none;
        border-left:none;
    }

    #searchbuttonbox {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #0065FC;
        padding: 10px;
        border: solid 1px #F2F2F2;
        border-left: none;
    }
        
}