@media all and (max-width: 1907px){
    /* body {
        max-width: 1280px;
    } */

    #alllodging {
        width: 770px;
    }
    #activities {
        justify-content: flex-start;
    }
}

@media all and (max-width: 920px){
    
    #filtersection {
        flex-direction: column;
    }
    #filters {
        padding-top: 0px;
    }
    
    #alllodging {
        width: 387px;
    }

    .activitypicturetall {
        height: 200px;
        width: 420px;
    }
    .activitypicturemedium {
        height: 200px;
        width: 420px;
    }
    .activitypicturesmall {
        height: 200px;
        width: 420px;
    }

}

@media all and (max-width: 600px){
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 25px;
    }
    footer {
        flex-direction: column;
        padding-left: 30px;
    }
    #logo {
        padding-left: 0px;
        padding-top: 20px;
        order: 1;
    }
    #navigation {
        width: 150%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
        margin-left: -40px;
        margin-right: -40px;
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 0px;
        order: 3;
    }
    .inscription {
        padding-top: 37px;
        width: 50%;
        order: 2;
    }
    a.navigationlink {
        padding: 0px;
        color:black;
        text-decoration: none;
        text-align: center;
        padding-bottom: 40px;
        border-bottom: 2px solid#F2F2F2;
        width: 50%;
    }
    a.navigationlink:hover {
        padding: 0px;
        border-top: none;
        padding-bottom: 40px;
        border-bottom: 2px solid #0065FC;
        color:  #0065FC;    
    }
    #logobox {
        width: 50%;
    }
    #alllodging {
        padding: 0px;
        background-color: white;
        border-radius: 0px;
    }
}

@media all and (max-width: 480px){
    body {
        padding-left: 0px;
        padding-right: 0px;
        margin: 10px;
    }
    #navigation {
        margin-left: -5px;
        margin-right: -5px;
    }
    #topbar {
        flex-direction: column-reverse;
    } 


    .lodgingpicture {
        /* height: auto;
        width: auto; */
        min-height: 200px;
        max-height: 200px;
        min-width: 300px;
        max-width: 300px
    }

    
    .lodgingcard {    
        box-shadow: 0px 0px 10px #F2F2F2;
    }

    #popularlodging {
        align-items: center;
        padding:0px;
        margin-right: -5px;
        margin-left: -5px;
        padding: 10px;
        background-color: #F2F2F2;
        border-radius: 0px;
        font-size: 15px;
    }

    #activities {
        padding-top: 10px;
        padding-left: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    #activitiestitle {
        padding-bottom: 20px;
    }

    /* .activitypicturetall {
        height: 200px;
        width: 420px;
    }
    
    .activitypicturemedium {

        width: 420px;
        height: 200px;
    }
    
    .activitypicturesmall {
        height: 200px;
        width: 420px;
    } */
    

    footer {
        margin-top: 30px;
        margin: -5px;
        padding-bottom: 30px
    }

    .footercolumn {
        padding-top: 40px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    #searchtextbox {
        width: 143px;
    }

    .lodgingpicture {
        width: 100%;
        height: auto;
    }

    .activitypicturetall {
        max-height: 200px;
        height: auto;
        width: 100%;
    }

    .activitypicturemedium {
        max-height: 200px;
        height: auto;
        width: 100%;
    }

    .activitypicturesmall {
        max-height: 200px;
        height: auto;
        width: 100%;
    }
    .popularlodgingpicture {
    }

    .activitycard {
    }

    #searchbar {
        width: 300px;
    }

    

}

@media all and (max-width: 320px){

    h3 {
        font-size: 14px;
    }   

    .lodgingtext {
        font-size: 12px;
    }

    #alllodging {
        padding: 0px;
    }

    .lodgingcard {
        margin: 0px;
        margin-bottom: 10px;
        padding: 0px;
        border-radius: 7%;
    }
    
    #popularlodging {
        margin: -5px;
        padding: 0px;
    }    

    .lodgingpicture {
        height: 120px;
        width: 300px;
        object-fit: cover;
    }

    #searchbar {
        width: 300px;
    }

    #mapmarkerbox  {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 20px;
        padding: 12px; 
        padding-top: 15px;
        background-color: #F2F2F2;
        text-align: center;
        border: solid 1px #F2F2F2;
        border-right: none;
    }

    #searchbuttonbox {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #0065FC;
        padding: 10px;
        border: solid 1px #F2F2F2;
        border-left: none;
    }
    footer {
        padding-left: 10px;
    }
}