#filters {
    display: flex; 
    flex-direction: row;
    padding-top: 30px;
    flex-wrap: wrap;
}

.filtertypes {
    display: flex; 
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}
.utilitarybox {
    border: solid 2px #F2F2F2;
    border-right: none;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}

.svgbox  {
    border-radius: 55px;
    width: 15px;
    height: 15px;
    padding: 15px;
    background-color: #DEEBFF;
    text-align: center;
    margin:-2px;
}

.filtertext {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px #F2F2F2;
    border-left: none; 
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}

.filterstitle {
    padding: 10px;
}