@font-face {
    font-family: "RailwayLight";
    src: url("utilities/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
    font-family: "RailwayMedium";
    src: url("utilities/fonts/Raleway-Medium.ttf") format("truetype");
}

.topnav {
    font-family: "RailwayLight";
    display: grid;
    grid-template-columns: 1fr 6fr repeat(3, 1fr);
    padding-top: 40px;
}

.navbutton {
    text-align: center;
}

.inscription {
    font-weight: bold;
}

a {
    padding-top: 40px;
    color: #0065FC;
    text-decoration: none;
}

a:hover {
    border-top: 1px solid #0065FC
}

h1 { 
    font-family: "RailwayMedium";
    font-size: 20px;
}

h2 {
    font-family: "RailwayLight";
    font-size: 15px;
}

